@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* nav styles  */
.navbar{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:1140px;
    margin:0px auto;
}

.logo{
    display:flex;
    align-items:center; 
}

.logo-name{
    font-size: 2rem;
    font-weight:bold;
}
.lists{
    width:387px;
    gap:32px;
}
nav ul{
    display:flex;
    align-items: center;  
    justify-content: space-between;
    list-style-type: none;
    column-gap: 20px;
}
ul li{
    font-size: 1.25rem;
    font-weight: medium;
}
#home{
    color:orange;
}
#about{
    color:skyblue;
}
#facilities{
    color:rgba(5, 212, 223, 1);
}
#admission{
    color:rgba(93, 88, 239, 1);
}
.btn-primary{
    width:197px;
    border-radius: 12px;
    background-color: orange;
    color:white;
    font-size: 1.25rem;
    font-weight: semibold;
    border:transparent;
    padding:10px 60.5px;
}

.menu-icon{
    display:none;
    font-size: 30px;
    cursor: pointer;
}

/* banner  */
.banner{
    display:flex;
    gap:50px;
    width:1140px;
    margin:0px auto;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.span1{
    color:orange;
}
.span2{
    color:skyblue;
}
.banner-description{
    font-size: 1.25rem;
    font-weight: regular;
    color:black;
    margin-bottom: 24px;
}
.banner-btn{
    border-radius:12px;
    background-color: black;
    color:white;
    width:197px;
    padding:10px 40px;
    font-size: 1.25rem;
    font-weight: bold;
}
/* main styles  */
main section{
    background-image: url(../images/bg.png);
}
/* Standard curriculum styles  */
.std{
    width:90%;
    margin:0px auto; 
}
.std-title{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
    color:rgba(0, 0, 0, 1);
}
.std-cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:28px;
    margin-bottom: 80px;
}

.card-1,.card-2,.card-3{
    border-radius: 19px;
    padding: 40px;
}
.card-1{
    box-sizing: border-box;
    border: 0.94px solid rgba(222, 245, 255, 1);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(222, 245, 255, 1),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-2{
    box-sizing: border-box;
    border: 0.94px solid rgba(255, 244, 220, 1);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(255, 244, 220, 1),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-3{
    box-sizing: border-box;
    border: 0.94px solid rgba(242, 232, 255, 1);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(242, 232, 255, 1),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-img{
    display: flex;
    justify-content: center;
}

.card-title{
    text-align: center;
}
.card-description{
    text-align:center;
}

.read{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.card-1 .read{
   color:rgba(100, 200, 255, 1); 
}
.card-2 .read{
   color:rgba(240, 170, 0, 1); 
}
.card-3 .read{
   color:rgba(135, 0, 255, 1); 
}

.btn-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:60px;
    gap:10px;
}
.prev,.next{
    width: 60px;
    height: 60px;
    border:none;
    border-radius: 30px;
    background-color: rgb(254, 163, 1);
    color:white;
    font-size: 24px;
}

/* story styles  */
.story {
    background: 
    linear-gradient(to top, rgba(254, 163, 1, 0.21), rgba(255, 255, 255, 0.21)),  /* Adjusted transparency */
    url(../images/bg.png);
    background-size: cover;
    background-position: center;
}


.story-header{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    padding-top:20px;
}
.story-cards{
    display:grid;
    grid-template-columns: 500px repeat(2,1fr);
    gap: 10px;
    width:90%;
    margin:80px auto;
}

.story-1{
    grid-row: span 2;
}

 .story-1, 
 .story-2, 
 .story-3, 
 .story-4, 
 .story-5 {
    border-radius: 15px;
    overflow: hidden; 
    background-color: white;
}
.story-img {
    width: 100%;
    display: block;
}
.story-btn{
    border-radius: 48px;
    padding: 9px 19px;
    font-size: 15px;
    font-weight: medium;
    background-color: rgba(149, 178, 38, 1);
    color: white;
    border: none;
    height: 40px;
    margin-top: -24px;
    margin-left: 25px;
    z-index: 10;
    display: block;
    position: relative; 
}
.story-1 .story-btn{
    background-color:rgba(60, 216, 232, 1);
}

.story-3 .story-btn{
    background-color:rgba(93, 88, 240, 1) ;
}

.story-1 h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 53px;
    padding:28px 38px;
}
.story-title{
    font-size: 15px;
    font-weight: bold;
    margin:28px 38px;
}
.story-description{
    font-size: 15px;
    font-weight: medium;
    margin:47px 68px 34px 38px;
}

.view-btn{
    display: flex;
    justify-content: center;
}

.view-btn button{
    margin-bottom:60px;
}

/* Responsive*/
@media screen and (max-width:576px) {
    /* navbar & banner  */
    .lists,.btn-primary,.story-1{
        display:none;
    }
    .menu-icon{
        display:block;
    }
    .navbar{
        width:100%;
    }
    .banner{
        flex-direction: column-reverse;
        width:90%;
        align-items:center;
        margin-bottom: 20px;
    }
    .banner-title{
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }
    .banner-description{
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }
    .btn-div{
       text-align: center;
    }

    /* standard curriculum  */
    .std-cards{
        grid-template-columns: repeat(1,1fr);
    }
    .std-title{
        font-size: 26px;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .btn-slide{
        display: none;
    }

    /* our stories  */
    .story-cards{
        grid-template-columns:repeat(2,1fr);
    }

}